html {
    color: rgb(122, 228, 247);
    background-image: url(https://media.giphy.com/media/U3qYN8S0j3bpK/source.gif);
    margin: 50px;
    font-size: 42px;
    font-family: 'Rowdies', cursive;
}

